<!DOCTYPE HTML>
<html>
	<head>
		<base href="" />
		<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<link
			rel="stylesheet"
			href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css"
		/>
		<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
		<script src="./soundjs-NEXT.combined.js"></script>
		<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
		<link rel="stylesheet" href="/w3.css" />
		<link rel="stylesheet" href="/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>Home {{seo.title}}</title>
	</head>
	<body onload="init()">
		<div class="w3-top">
			<div class="w3-bar w3-black">
				<div id="popupBox" class="alfa-slab-one hide"><span id="popup"></span><button style="opacity: 0!important;" class="w3-button w3-round-xxlarge w3-white w3-ripple">x</button></div>
				<h3 style="" class="w3-bar-item w3-button w3-show-inline-block start">
					<span class="logo"></span><span></span
					><span class="nav-home"
						><span id="nav1">Home</span> {{seo.title}}</span
					>
				</h3>
				<h3
					id="nav3btn"
					onclick="settings(0)"
					class="w3-bar-item w3-button w3-right ab w3-show-inline-block"
				>
					<span class="logo"></span><span></span
					><span class="nav-other" id="nav3">Settings</span>
				</h3>
				<h3
					id="nav2btn"
					onclick="play()"
					class="w3-bar-item w3-button w3-right ab w3-show-inline-block"
				>
					<span class="logo"></span><span></span
					><span class="nav-other" id="nav2">Play</span>
				</h3>
			</div>
		</div>
		<br />
		<br />
		<br />
		<noscript>
			<h1 class="purple w3-center alfa-slab-one">
				This website requires JavaScript to work. Please enable javascript then
				reload to use QuizT1me.
			</h1>
		</noscript>
		<div id="home" class="hide">
			<div class="w3-center">
				<h1 id="counter" class="purple"><b>{{counter}}</b></h1>
				<h3 class="purple">
					people have played QuizT1me since the project started!
				</h3>
				<br />
				<br />
				<br />
				<div class="w3-show-inline-block">
					<button
						class="w3-purple w3-btn w3-round-xlarge w3-border w3-border-purple w3-ripple"
						onclick="play()"
					>
						Play
					</button>
					<button
						class="w3-purple w3-btn w3-round-xlarge w3-border w3-border-purple w3-ripple"
						onclick="settings(0)"
					>
						Settings
					</button>
				</div>
			</div>
			<audio id="bg0">
				<source src="/sound/8-bit-background-music-for-arcade-game-come-on-mario-164702.mp3" type="audio/mpeg">
			</audio>
			<audio id="bg1">
				<source src="/sound/circus.mp3" type="audio/mpeg">
			</audio>
			<audio id="bg2">
				<source src="/sound/meatball.mp3" type="audio/mpeg">
			</audio>
			<audio id="bg3">
				<source src="/sound/pixel.mp3" type="audio/mpeg">
			</audio>
			<audio id="bg4">
				<source src="/sound/Surfing.mp3" type="audio/mpeg">
			</audio>
			<audio id="bg5">
				<source src="/sound/thinking-time-148496.mp3" type="audio/mpeg">
			</audio>
			<audio id="bg6">
				<source src="/sound/quiz-countdown-194417.mp3" type="audio/mpeg">
			</audio>
			<audio id="bg7">
				<source src="/sound/lemmings/02_-_Lemmings_-_DOS_-_Lemming_1.ogg" type="audio/ogg">
			</audio>
			<audio id="bg8">
				<source src="/sound/sm/01_-_Super_Mario_Bros._-_NES_-_Above_Ground_BGM.ogg" type="audio/ogg">
			</audio>
			<audio id="bg9">
				<source src="/sound/lemmings/04_-_Lemmings_-_DOS_-_Lemming_3.ogg" type="audio/ogg">
			</audio>
			<audio id="bg10">
				<source src="/sound/lemmings/04_-_Lemmings_-_DOS_-_Lemming_3.ogg" type="audio/ogg">
			</audio>
			<audio id="bg11">
				<source src="/sound/lemmings/06_-_Lemmings_-_DOS_-_Ten_Lemmings.ogg" type="audio/ogg">
			</audio>
			<audio id="bg12">
				<source src="/sound/lemmings/07_-_Lemmings_-_DOS_-_Can-Can.ogg" type="audio/ogg">
			</audio>
			<audio id="bg13">
				<source src="/sound/lemmings/08_-_Lemmings_-_DOS_-_Tim_1.ogg" type="audio/ogg">
			</audio>
			<audio id="bg14">
				<source src="/sound/lemmings/15_-_Lemmings_-_DOS_-_Turkish_Rondo.ogg" type="audio/ogg">
			</audio>
			<audio id="bg15">
				<source src="/sound/lemmings/16_-_Lemmings_-_DOS_-_Dance_of_the_Little_Swans.ogg" type="audio/ogg">
			</audio>
			<audio id="bg16">
				<source src="/sound/lemmings/17_-_Lemmings_-_DOS_-_London_Bridge_Is_Falling_Down.ogg" type="audio/ogg">
			</audio>
			<audio id="bg17">
				<source src="/sound/sm/04_-_Super_Mario_Bros._-_NES_-_Invincible_BGM.ogg" type="audio/ogg">
			</audio>
		</div>
		<div id="settings" class="w3-center hide">
			<h1 class="alfa-slab-one">Settings</h1>
			<hr>
			<input class="w3-check" id="music" type="checkbox" checked="checked">
			<label>Enable Music</label><br>
			<input class="w3-check" id="sfx" type="checkbox" checked="checked">
			<label>Enable SFX</label>
		</div>
		<div id="beforeplay" class="w3-center hide">
			<br /><br />
			<h1 class="alfa-slab-one">Play</h1>
			<hr class="w3-purple w3-border-purple" style="border-width: 3px" />
			<br />
			<button
				class="w3-purple w3-btn w3-round-xlarge w3-border w3-border-purple w3-ripple"
				onclick="changeQuestions()"
			>
				Change the number of questions you will have in your quiz
			</button>
			<button
				class="w3-purple w3-btn w3-round-xlarge w3-border w3-border-purple w3-ripple"
				onclick="highscores()"
			>
				Show highscores
			</button>
			<div id="nofq-div" style="display: none!important;" title="Change the number of questions">
				<p>
					Please enter a value from 10 to 20:
					<input
						type="number"
						placeholder="Enter a value from 10 to 20"
						min="10"
						max="20"
						value="10"
						id="nofq-input"
					/><br><button
						class="w3-purple w3-btn w3-round-xlarge w3-border w3-border-purple w3-ripple"
						onclick="closenofq(0)"
					>
						Keep it at 10
					</button>
					<button
						class="w3-purple w3-btn w3-round-xlarge w3-border w3-border-purple w3-ripple"
						onclick="closenofq(1)"
					>
						Apply
					</button>
				</p>
			</div>
		</div>
		<div id="question" class="w3-center hide">
			<br /><br />
			<h1 class="alfa-slab-one" id="questionName">QUESTION NAME</h1>
			<hr class="w3-purple w3-border-purple" style="border-width: 3px" />
			<br />
			<button
				class="w3-purple w3-btn w3-border w3-border-purple w3-ripple questionButton w3-left w3-show-inline-block"
				onclick="answered(0)" id="answer1"
			>
				Answer1
			</button>
			<button
				class="w3-purple w3-btn w3-border w3-border-purple w3-ripple questionButton w3-right w3-show-inline-block"
				onclick="answered(1)" id="answer2"
			>
				Answer2
			</button>
			<button
				class="w3-purple w3-btn w3-border w3-border-purple w3-ripple questionButton w3-right w3-show-inline-block"
				onclick="answered(3)" id="answer4"
			>
				Answer4
			</button>
			<button
				class="w3-purple w3-btn w3-border w3-border-purple w3-ripple questionButton w3-right w3-show-inline-block"
				onclick="answered(2)" id="answer3"
			>
				Answer3
			</button>
		</div>
		<div id="correct" class="w3-center hide">
			<br /><br />
			<h1 class="alfa-slab-one" id="correctTitle">CORRECT MOTIVATION</h1>
			<br />
			<img class="tick" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/2048px-Flat_tick_icon.svg.png" alt="Correct!">
			<br>
		</div>
		<div id="wrong" class="w3-center hide">
			<br /><br />
			<h1 class="alfa-slab-one" id="wrongTitle">WRONG MOTIVATION</h1>
			<br />
			<img class="tick" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/White_X_in_red_background.svg/2048px-White_X_in_red_background.svg.png" alt="Wrong!">
			<br>
			<p>The correct answer was: <b id="correctAnswer"></b></p>
		</div>
		<div id="finished" class="w3-center hide">
			<br /><br />
			<h1 class="alfa-slab-one" id="finishedTitle">FINISHED MOTIVATION</h1>
			<br>
			<p>You scored <span id="finishedNumCorrect"></span> out of <span id="finishedNofq"></span>, or <span id="finishedPercentage"></span>%!</p><p>You completed your quiz in <span id="finishedTime"></span>s!</p><br>
			<button class="w3-purple w3-btn w3-round-xlarge w3-border w3-border-purple w3-ripple"
				onclick="highscores()">Show the current highscores</button>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<div id="credits" class="w3-bottom">
			<div class="w3-bar w3-black w3-center">
				<h6>
						<span
							>Powered by
							<a
								target="_blank"
								href="https://www.w3schools.com/w3css/w3css_intro.asp"
								>W3.CSS</a
							>
							| Credit to
							<a target="_blank" href="https://www.w3schools.com/">w3schools</a>
							for some code |
							<a href="#" onclick="credits()">Learn More</a></span
						>
				</h6>
			</div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/script.js"></script>
		<span id="soundQueue"></span>
		<span id="playingSound">0</span>
	</body>
</html>
