.nav-other {
	font-family: Alfa Slab One;
}
.nav-home {
	font-family: Permanent Marker;
} 
h6{ 
	padding-left: 20px;
}
#counter {
	font-size: 1500%;
	font-family: Alfa Slab One;
}
.purple{
	color: #9c27b0;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.alfa-slab-one {
	font-family: Alfa Slab One;
}
.no-close .ui-dialog-titlebar-close {
	display: none;
}

.good{
	background-color: #04AA6D;
	color: white;
}
.warning{
	background-color: #ff9800;
	color: white;
}
.bad{
	background-color: #f44336;;
	color: white;
}
.nostatus{
	background-color: #e7e7e7;
	color: white;
}
#popupBox{
	opacity: 0;
	 transition: 1s;
}
.questionButton{
	color: white;
	margin: 0.25%;
	border-radius: 6px;
	width: 49.5%!important;
}
.tick{
	width: 10%;
	height: auto;
}
.full-height {
	height: 100%;
}
#soundQueue{
	display: none;
}
#playingSound{
	display: none;
}
audio{
	display: none;
}
hr{
	border-color: #9c27b0;
	border-width: 3px; 
}

#answerb1{
	background-color: #dc012b;
}
#answerb2{
	background-color: #0c4cc8;
}
#answerb3{
	background-color: #d08f01;
}
#answerb4{
	background-color: #228103;
}
#questionName{
	margin-left: 0.25%;
	margin-right: 0.25%;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 99.5%;
	padding: 15px;
	border-radius: 6px;
	/*background-color: #9c27b0*/
	color: black;
}
.title{
	font-size: 500%;
}
th, td {
	border: 2px solid!important;
	border-color: #9c27b0!important;
	padding: 8px;
}
table{
	border-collapse: collapse;
}
.answerText{
	text-wrap: wrap!important;
}
.base-bar{
	background-color: rgba(160,160,160,0.7);
}